{% extends 'base.html' %}
{% block header %}
<hgroup>
  <h1>{{SITENAME}}</h1>
  <h2 class='tagline'>{{TAGLINE}}</h2>
</hgroup>
{% endblock %}

{% block content %}
<main id='content'>
  <ul class='post-list'>
    {% for article in articles_page.object_list %}
    <li>
      <article class='article'>
        <div class='entry-content'>
          <header>
            <h2 class='entry-title'>{{ article.title }}</h2>
            <h3 class='article-summary'>{{ article.summary }}</h3>
          </header>
          {{ article.content }}
        </div><!-- /.entry-content -->
      </article>
    </li>
    {% endfor %}
  </ul><!-- /#posts-list -->
</main><!-- /#content -->
{% endblock content %}
