html {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  /* The following background image is a nod to the Django rest framework
     It's cool, check it out! https://www.django-rest-framework.org/ */
  background: url('/theme/images/grid.png');
}

body {
  margin: 10px 50px;
  line-height: 1.4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #0500b1;
}

p {
  font-weight: 300;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.base__header {
  color: #343434;
  border-bottom: 3px solid #0500b1;
  margin-bottom: 24px;
}

.post-list li {
  margin-bottom: 36px;
  padding-bottom: 40px;
  border-bottom: 3px solid #0500b1;
}

.entry-content {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-column-gap: 30px;
}

.entry-content header,
.article-summary,
.project-content {
  grid-column: 1;
}

.project-images {
  grid-column: 2;
  grid-row: 1 / span 4;
}

.project-content {
  margin-top: 0;
}

.project-images figure {
  margin-bottom: 36px;
}

/* Adjusting alignment to account for drop shadow on images */
figure img {
  margin-left: 20px;
}

figcaption {
  margin-left: 48px;
}

@media screen and (max-width: 800px) {
  .entry-content {
    display: flex;
    flex-direction: column;
  }

  figure img {
    margin-left: 0;
  }

  figcaption {
    margin-left: 0;
  }
}
